<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SEO -->
    <meta name="description" content="">
    <meta name="author" content="AMM Brasil">
    <meta name="url" content="https://amm-brasil.github.io/i-encontro-sp/">
    <meta name="copyright" content="AMM Brasil">
    <meta name="robots" content="index,follow">

    <title>Partiu Férias! #sqn</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">

</head>

<body>
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main>
            <h2>Política de privacidade para <a href='https://ifroariquemes.ifro.edu.br/PartiuFerias'>Partiu Férias
                    #sqn</a></h2>
            <p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso
                site o mais
                produtiva e agradável possível.</p>
            <p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o
                Partiu Férias
                #sqn.</p>
            <p>Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o Partiu
                Férias #sqn
                serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei
                n.º 67/98).</p>
            <p>A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telemóvel,
                morada, data de
                nascimento e/ou outros.</p>
            <p>O uso do Partiu Férias #sqn pressupõe a aceitação deste Acordo de privacidade. A equipa do Partiu Férias
                #sqn
                reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a
                nossa
                política de privacidade com regularidade de forma a estar sempre atualizado.</p>
            <h2>Os anúncios</h2>
            <p>Tal como outros websites, coletamos e utilizamos informação contida nos anúncios. A informação contida
                nos anúncios,
                inclui o seu endereço IP (Internet Protocol), o seu ISP (Internet Service Provider, como o Sapo, Clix,
                ou outro), o
                browser que utilizou ao visitar o nosso website (como o Internet Explorer ou o Firefox), o tempo da sua
                visita e
                que páginas visitou dentro do nosso website.</p>
            <h2>Ligações a Sites de terceiros</h2>
            <p>O Partiu Férias #sqn possui ligações para outros sites, os quais, a nosso ver, podem conter informações
                /
                ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de
                terceiros,
                pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo.</p>
            <p>Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.</p>
        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</body>

</html>